.container {
  width: 1100px;
  height: 500px;
  border: 8px solid #406078;
  margin: auto;
  border-radius: 5px;
  margin-top: 3rem;
  position: relative;
}
#image {
  background: url(img/contBcg-0.jpeg) center/cover no-repeat;
}

#left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background: #406078;
  color: #fff;
  border-radius: 3px;
  padding: 8px;
}
#right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background: #406078;
  color: #fff;
  border-radius: 3px;
  padding: 8px;
}

#left:hover,
#right:hover {
  background: #fff;
  color: #406078;
  cursor: pointer;
}

/* responsive */

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
    height: 150px;
  }
}

@media screen and (min-width: 769px) and (max-width: 950px) {
  .container {
    width: 500px;
    height: 250px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
  .container {
    width: 600px;
    height: 350px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
  .container {
    width: 750px;
    height: 400px;
  }
}

.btn-2 {
  width: 150px;
  height: 60px;
  background: steelblue;
}

.button {
  display: flex;
  justify-content: center;
}
